
/* это плавное изменение, но его применять нельзя
*, *:before, *:after {
  -webkit-transition: .2s ease-in-out;
  -moz-transition: .2s ease-in-out;
  transition: .2s ease-in-out;
} */

@media only screen and (max-width: 480px) {
  
  .header>.container {
    display: block;    
  }

  .logo__lucid {
    margin-left: 3%;
  }

  .header-menu {
    margin-top: 30px;
  }

  .header-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    padding-left: 3%;
  }

  .header-item {
    margin: 0 2%;
  }

  .hello {
    height: 850px;  
  }

  .row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .hello__title, 
  .customize__title ,
  .details__title {
    margin-top: 0px;
    width: 90%;
    margin-left: 5%;    
  }
  .hello__title._pt70 {
    padding-top: 110px;
  }
  
  .hello__sub-title {
    font-size: 38px;
    width: 90%;
    margin-left: 5%;  
    line-height: 1.1;  
    text-align: left;
  }

  .hello__content {
    margin-bottom: 40px;
    width: 90%;
    margin-left: 5%;
  }

  .hello__footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .hello__picture {
    width: 0%;
    max-width: 0px;
    visibility: hidden;
  }
  .hello__pic-480 {
    display: flex;
    justify-content: center;
    width: 100%;
    max-width: 400px;
    padding-bottom: 50px;
    margin: 0 auto;
    visibility: visible;
  }
  .overview-list {
    margin-left: 5%;
    margin-right: 5%;
  }
  .overview-item__content {
    width: 100%;
  }
  .overview-item {
    width: 93%;
  }

  .details__image,
  .customize__image {
    width: 70%;
    margin-right: 0px;
    margin-left: 15%;
    margin-bottom: 25px;
  }
  .details__column {
    margin-right: 0px;
  }
  .details__sub-title,
  .customize__sub-title {
    margin-left: 5%;
  }
  .details__devider,
  .customize__devider {
    left: 5%;
  }
  .details__content,
  .customize__content,
  .like__text {
    margin-left: 5%;
    width: 90%;
  }
  .details-list {
    margin-left: 5%;
  }
  .customize {
    padding-bottom: 0%;
  }
  .like__buttons {
    margin-top: 50px;
  }

  .price-list {
    margin-left: 5%;
    width: 90%;
  }
  .price-item {
    width: 98%;
    margin-bottom: 4%;
  }
  
  .price-item__price {
    width: 100%;
  }
.price-item__content {
  font-size: 20px;
  margin-top: 30px;
  margin-bottom: 30px;
}
  .contact-list {
    margin-left: 0px;
  }
  .contact-item {
    padding-bottom: 5%;
  }
  .contact-item__content {
    margin-top: 10px;
  }
  .contact__form {
    width: 90%;
    height: 575px;
  }
  .contact-form__input {
    margin-left: 0%;
    width: 313px;
  }
  .contact-form__span {
    left: 20px;
  }
.contact-form__input:placeholder-shown:focus + .contact-form__span,
.contact-form__input:not(:placeholder-shown) + .contact-form__span {
    left: 15px;
}
  .contact-form__input._message {
    margin: 0 0 5% 0%;
    width: 313px;
  }
  .contact-form__button._left {
    margin-left: 152px;
  }
  .carousel__content {
    font-size: 15px;
    margin-left: 5%;
  }
  .carousel__picture {
    margin-left: 5%;
  }
  .carousel__autor {
    margin-left: 5%;
    margin-top: -20px;
  }
  .carousel__job {
    margin-left: 5%;
    margin-top: -20px;
  }
  .carousel__cell {
   /* 1 cell in group */
   width: calc( ( 100% - 0px ) / 1);
  }

}/* } @media */