.wrapper *,
.wrapper *::before,
.wrapper *::after {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

/* *, *:before, *:after {
  -webkit-transition: .2s ease-in-out;
  -moz-transition: .2s ease-in-out;
  transition: .2s ease-in-out;
} */

body {
  min-height: 100vh;
  font-family: 'Verdana', 'Arial', sans-serif; 
  box-sizing: border-box;
}

.header {
  padding-top: 40px;
  width: 100%;
  font-family: 'Myriad Pro Regular', sans-serif;
  height: 30px;
}

.header>.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.container {
  width: 100%;
  max-width: 1160px;
  margin: 0 auto;
}

.logo {
  display: flex;
  font-family: 'Myriad Pro Regular', sans-serif;
  user-select: none;
}

.logo__lucid {
  color: #ffffff;
  font-size: 22px;
  text-transform: uppercase;
}

.logo__ot {
  margin-left: 6px;
  margin-top: 3px;
  width: 60px;
  color: #58585d;
  font-size: 9px;
  line-height: 1.2;
  text-transform: uppercase;
}

.header-menu {}

.header-list {
  display: flex;
}

.header-item {
  margin-left: 20px;
  display: block;
}

.header-item__link {
  color: #fffefe;
  font-size: 14px;
  letter-spacing: 1px;
  text-decoration: none;
  position: relative;
}

.header-item__link:hover::before {
  content: "";
  position: absolute;
  right: 0;
  bottom: -10px;
  width: 46%;
  height: 2px;
  background-color: #008ed6;
}

.header-item__link:hover::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -10px;
  width: 46%;
  height: 2px;
  background-color: #008ed6;
}

.header-item__link:hover {
  text-decoration: none;
}

.main {}

.hello {
  height: 685px;
  padding-top: 170px;
  font-family: 'Myriad Pro Regular', sans-serif;
  background-image: url('../img/hello-backgrnd.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: -70px;
}

.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.hello-column {
  margin-top: -70px;
}

.hello__title, 
.customize__title ,
.details__title {
  margin-bottom: 25px;
  margin-top: 50px;
  color: #008ed6;
  font-size: 12px;
  font-weight: bolder;
  text-transform: uppercase;
  letter-spacing: 2px;
  text-align: left;
}
.hello__title._pt70 {
  padding-top: 70px;
}
.contact__title,
.overview__title,
.pricings__title,
.price__title {
  margin-bottom: 20px;
  /* margin-top: 65px; */
  color: #008ed6;
  font-size: 12px;
  font-weight: bolder;
  text-transform: uppercase;
  letter-spacing: 2px;
  text-align: center;
}

.overview-item__title,
.details-list__title {
  margin-top: 30px;
  color: #1a1a1a;
  font-size: 22px;
  font-weight: normal;
  line-height: 1.6;
  letter-spacing: 1px;
  text-align: center;
}

.price-item__title {
  margin-top: 20px;
  color: #1a1a1a;
  font-size: 22px;
  font-weight: bold;
  line-height: 1.6;
  letter-spacing: 1px;
  text-align: center;
  text-transform: uppercase;
}

.hello__sub-title {
  margin-bottom: 20px;
  color: #ffffff;
  font-size: 47px;
  width: 500px;
  font-weight: normal;
  line-height: 1.0;
  letter-spacing: 1px;
}

.hello__content {
  margin-bottom: 60px;
  width: 500px;
  color: #999999;
  font-size: 15px;
  font-weight: normal;
  line-height: 1.6;
  letter-spacing: 1px;
  text-align: left;
}

.pricings__sub-title._white {
  color: #ffffff;  
}

.customize__sub-title,
.details__sub-title {
  margin-bottom: 25px;
  color: #1a1a1a;
  font-size: 34px;
  font-weight: bolder;
  line-height: 1.0;
  letter-spacing: 1px;
  text-align: left;
}

.pricings__sub-title,
.contact__sub-title,
.overview__sub-title,
.price__sub-title {
  margin-bottom: 40px;
  color: #1a1a1a;
  font-size: 34px;
  font-weight: bolder;
  line-height: 1.0;
  letter-spacing: 1px;
  text-align: center;
}

.hello__footer {
  display: flex;
}

.hello__button,
.price-item__button,
.contact-form__button {
  display: block;
  height: 47px;
  padding: 0 25px;  
  color: #fff;
  font-size: 12px;
  line-height: 47px;
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  border: 1px solid #454549;
  border-radius: 4px;
  transition:
    background-color .1s ease,
    border-color .3s ease;  
  width: 160px;
}

.price-item__button._txt-blue {
  color: #008ed6;
  margin: 0 auto;
  border: 1px solid #e0e0e0;
}

.hello__button._right {
  margin-right: 15px;
}

.like__buttons {
  display: flex;
  margin-top: -5px;
}

.price-item__button:hover,
.price-item__button._accent,
.hello__button:hover,
.hello__button._accent,
.contact-form__button._accent {
  background-color: #008ed6;
  border-color: #008ed6;
  color: #ffffff;
}

.hello__picture {
  width: 100%;
  max-width: 450px;
  margin-right: 10px;
}
.hello__pic-480 {
  width: 0%;
  max-width: 0px;
  visibility: hidden;
}
.overview {
  width: 100%;
  font-family: 'Myriad Pro Regular', sans-serif;
  background-color: #ffffff;
  border: 1px solid #fff;
  padding-top: 60px;
  padding-bottom: 30px;
}

.overview__devider,
.pricings__devider,
.price__devider,
.contact__devider {
  position: relative;
  margin: 0 auto;
  width: 45px;
  height: 4px;
}

.customize__devider,
.details__devider {
  position: relative;
  margin: 0;
  width: 45px;
  height: 4px;
  left: 0;
}

.contact__devider::before,
.price__devider::before,
.pricings__devider::before ,
.customize__devider::before,
.details__devider::before ,
.overview__devider::before {
  content: "";
  position: absolute;
  right: 0;
  width: 46%;
  height: 2px;
  background-color: #008ed6;
}

.contact__devider::after,
.price__devider::after,
.pricings__devider::after,
.customize__devider::after,
.details__devider::after,
.overview__devider::after {
  content: "";
  position: absolute;
  left: 0;
  width: 46%;
  height: 2px;
  background-color: #008ed6;
}

.overview-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 70px;
  padding: 0;
}

.overview-item {
  display: block;
}

.overview-item__circle {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90px;
  height: 90px;
  border-radius: 45px;
  border: 1px solid #e0e0e0;
  position: relative;
  margin: 0 auto;
}

.overview-item__content {
  margin-top: 7px;
  margin-bottom: 40px;
  width: 235px;
  color: #999999;
  font-size: 15px;
  font-weight: normal;
  line-height: 1.6;
  letter-spacing: 1px;
  text-align: center;
}

.line {
  border: none;
  color: #ededed;
  background-color: #ededed;
  height: 3px;
  margin: 0;
}

.details {
  width: 100%;
  font-family: 'Myriad Pro Regular', sans-serif;
  background-color: #ffffff;
  padding-top: 60px;
  padding-bottom: 30px;
}

.details__image {
  width: 100%;
  max-width: 480px;
  margin-right: 100px;
}

.details__column {
  margin-right: 70px;
}

.details__content,
.customize__content {
  margin-top: 25px;
  margin-bottom: 25px;
  width: 484px;
  color: #999999;
  font-size: 15px;
  font-weight: normal;
  line-height: 1.6;
  letter-spacing: 1px;
  text-align: left;
}

.details-list {
  display: block;
  padding: 0;
}

.details-item {
  line-height: 2;
  list-style: none;
  padding-left: 25px;
}

.details-item._cup {
  background: url('../img/details-cup.png') no-repeat 0 6px;
}

.details-item._mouse {
  background: url('../img/details-mouse.png') no-repeat 0 6px;
}

.details-item._energy {
  background: url('../img/details-energy.png') no-repeat 0 6px;
}

.details-item._speedometer {
  background: url('../img/details-speedometer.png') no-repeat 0 6px;
}

.customize {
  width: 100%;
  font-family: 'Myriad Pro Regular', sans-serif;
  background-color: #f2f2f2;
  padding-top: 60px;
  padding-bottom: 60px;
}

.customize__image {
  width: 100%;
  max-width: 650px;
}

.pricings {
  width: 100%;
  font-family: 'Myriad Pro Regular', sans-serif;
  background-color: #ffffff;
  background-image: url('../img/pricings-warstwa8.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  border-top: 1px solid #f2f2f2;
  border-bottom: 1px solid #15141a;
  padding-top: 60px;
  padding-bottom: 80px;
}

/*  css for flickity */

* {
  box-sizing: border-box;
}

.carousel {
  margin-top: 70px;
}

.carousel__cell {
  /* 2 cells in group */
  width: calc( ( 100% - 0px ) / 2);
  /* width: 100%; */
  height: 300px;
  border-radius: 5px;
  counter-increment: gallery-cell;


}

.carousel__content {
  margin-bottom: 30px;
  padding-top: 5px;
  color: #fff;
  font-size: 20px;
  font-style: italic;
  letter-spacing: 1px;
  text-align: left;
}
/* 
@media screen and (min-width: 768px) {
  .carousel__cell {
    width: 50%;
  }
} */
.signature {

}
.signature__avatar {
  display: block;
  width: 59px;
  height: 59px;
}
.signature__column {

}
.signature__autor {
  display: block;
  position: absolute;
  color: #fff;
  font-size: 14px;
  letter-spacing: 2px;
  line-height: 1.8;
  text-align: left;
  left: 80px;
  top: 110px;
}

.signature__job {
  display: block;
  position: absolute;
  color: #fff;
  font-size: 12px;
  letter-spacing: 2px;
  text-align: left;
  left: 80px;
  top: 140px;
  text-transform: uppercase;
}

.like {
  width: 100%;
  font-family: 'Myriad Pro Regular', sans-serif;
  background-color: #15141a;
  border: 1px solid #15141a;
  padding-top: 70px;
  padding-bottom: 70px;
}

.like__text {
  color: #fff;
  font-size: 34px;
  line-height: 1.2;
  letter-spacing: 1px;
  text-align: left;
}

._like-bold {
  font-weight: bold;
}

._like-thin {
  font-weight: lighter;
}

.price {
  width: 100%;
  font-family: 'Myriad Pro Regular', sans-serif;
  background-color: #ffffff;
  border: 1px solid #fff;
  padding-top: 60px;
  padding-bottom: 60px;
}

.price-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 70px;
  margin-bottom: 0;
  padding: 0;
}

.price-item {
  display: block;
  border: 1px solid #e0e0e0;
  width: 275px;
  height: 495px;
}

.price-item__price {
  display: block;
  border: 1px solid #e0e0e0;
  width: 275px;
  height: 150px;
  margin: 20px 0 0 -1px;
  color: #999999;
  font-size: 15px;
  font-weight: normal;
  line-height: 1.2;
  text-align: center;
  padding-top: 25px;
}

._accent-white {
  color: #fafafa;
  background-color: #008ed6;
}

._big {
  color: #1a1a1a;
  font-size: 58px;
  font-weight: normal;

}

._big-accent-white {
  color: #fafafa;
  font-size: 58px;
  font-weight: normal;

}

._sup {
  font-size: 30px;
  letter-spacing: -20px;

}

.price-item__content {
  margin-top: 50px;
  margin-bottom: 50px;
  color: #999999;
  font-size: 15px;
  font-weight: normal;
  line-height: 1.6;
  text-align: center;
}

._blue,
._accent-blue {
  color: #008ed6;
}

.contact {
  width: 100%;
  font-family: 'Myriad Pro Regular', sans-serif;
  background-color: #ededed;
  border: 1px solid #ededed;
  padding-top: 60px;
  padding-bottom: 2px;
}

.contact-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 55px;
  padding: 0;
  margin-left: 12px;
}

.contact-item {
  display: block;
  text-align: center;
}

._pointer {
  margin: 0 20%;
}

.contact-item__image {}

.contact-item__content {
  margin-top: 30px;
  color: #999999;
  font-size: 15px;
  font-weight: normal;
  line-height: 1.6;
  letter-spacing: 1px;
}

.contact-form {
  display: block;
  position: relative;
  margin: 75px auto;
  width: 770px;
  height: 360px;
  background-color: #15141a;
  padding-top: 60px;
  z-index: 1;
}

.contact__image {
  height: 370px;
  margin-top: -140px;
}
/* .contact-form__input-wrapper {
  position: relative;
} */
.contact-form__input {
  display: block;
  height: 50px;
  width: 300px;
  margin-bottom: 20px;
  margin-left: 75px;
  padding-left: 20px;
  color: #999999;
  font-size: 24px;
  border: 1px solid #444348;
  border-radius: 4px;
  background-color: #15141a;
  /* outline: none; */
} 
.contact-form__label {
  position: relative;
}
.contact-form__span{
  position: absolute;
  width: 100px;
  bottom: 35px;
  left: 90px;
  opacity: 0.5;
  transition: .2s;
  color: #999999;
  font-size: 16px;
  font-weight: bold;
}
.contact-form__input:placeholder-shown:focus + .contact-form__span,
.contact-form__input:not(:placeholder-shown) + .contact-form__span {
  bottom: 72px;
  font-size: 70%;
  left: 85px;
}
.contact-form__input:placeholder-shown:focus + .contact-form__span-mes,
.contact-form__input:not(:placeholder-shown) + .contact-form__span-mes {
  bottom: 213px;
  font-size: 70%;
  left: 15px;
}

.contact-form__input._message {
  margin: 0 75px 20px 0;
  height: 190px;
}
.contact-form__span-mes {
  position: absolute;
  width: 100px;
  bottom: 175px;
  left: 20px;
  opacity: .5;
  transition: .2s;
  color: #999999;
  font-size: 16px;
  font-weight: bold;
}
.contact-form__button._left {
  margin-left: 140px;
}
/* 
._message {
  position: absolute;
  margin-left: 395px;
  margin-top: -210px;
  height: 190px;
  padding-bottom: 140px;
} */

.footer {
  background-color: #15141a;
  border: 1px solid #15141a;
  padding-top: 50px;
  padding-bottom: 45px;
}

.footer-list {
  padding-left: 0%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.footer-item {
  display: block;
  text-align: center;
  margin: 0px 15px;
  opacity: 0.2;
}

.footer-item__op {
  display: block;
  text-align: center;
  margin: 0px 15px;
}

.footer-text {
  margin-top: 30px;
  color: #444348;
  font-size: 12px;
  font-weight: bolder;
  text-transform: uppercase;
  letter-spacing: 0px;
  text-align: center;
}